.link-builder-container {
  display: flex;
  justify-content: center;
  padding-top: 4rem;

}

.link-builder {
  max-width: 76.8rem;
  width: 100%;
}

.link-builder-form {
  display: flex;
  flex-direction: column;

  * {
    margin-bottom: 1.5rem;
  }

  input {
    padding: 1rem;
  }
}
