body,
html {
  font-size: 10px;
}

.project--container {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  margin-bottom: 8rem;
  border: 1rem solid $main-bg;

  &* {
    box-sizing: border-box;
  }
}

.overview {
  width: max-content;
  margin-left: auto;
  margin-right: auto;

  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 1.6rem;
    max-width: 66ch;
    line-height: 1.5;
  }
}

.home--page {
  background-color: $main-bg;
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1200px) minmax(1rem, 1fr);
  grid-gap: 1rem;
  color: $base-text;
  height: 100vh;
}

.home--nav {
  width: 100%;
  padding: 4rem 1rem;
  grid-column: 2;
}

.monthly-dev {
  position: relative;
  padding-left: 72px;

  &::before {
    content: '';
    background-color: $logo-bg;
    height: 144px;
    width: 144px;
    position: absolute;
    top: -25%;
    left: 0;
    display: block;
    z-index: -1;
  }
}

.site--heading {
  margin-bottom: 6rem;

  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/underline-vector.svg");
    background-repeat: round;
    height: 2rem;
    left: 0;
    bottom: -2rem;
    width: 100%;
  }
}


.year {
  display: flex;
  flex-direction: row;
  padding-top: 8rem;

  .heading--year {
    flex-basis: calc(25% - 1rem);
  }
}

.yearly-projects-list {
  flex-basis: calc(75% - 1rem);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .nav--item {
    font-weight: 400;
    margin-bottom: 0;
    padding: 1rem;
    margin-bottom: 4rem;
    flex-basis: calc(33% - 1rem);
  }

  .nav--link {
    color: $text-color-light;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      color: $c5;
    }
  }
}

.home--intro {
  flex-basis: 50%;
  padding: 8rem;
  height: 100%;
  grid-column: 2;

  .home--about {

    .body--regular {
      max-width: 50ch
    }
  }
}

.underline {
  text-decoration: underline;
}
